@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;

    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color:#fbfbfd;
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
}
.header{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    cursor: pointer;
    padding: 10px 0 0 20px;
    flex-grow: 1;
}

.links>img{
    padding:0 20px 0 20px;
    cursor: pointer;

}

.links>svg{
    padding:0 20px 0 20px;
    cursor: pointer;
}

.main{
    padding-left: 5%;
    padding-right: 5%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda{
    flex-grow: 1;
    padding: 40px;
}
.esquerda>h1{
    color: #6e6e73;
    font-size: 45px;
}
.escuro{
    color: black;
}
.direita{
    padding-right: 30PX;
}
.card{
    display: flex;
    align-items: center;
    padding: 10px;
}
.text-card{
    padding: 8px;
    font-size: 14px;
}
.text-card>a{
    text-decoration: none;
    color: #06c;;
}
.carocel{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    
}
.cads{
    display: flex;
    align-items: center;
    padding: 18px 8px;
    flex-direction: column;
    justify-content: center;
}
.cads>img{
    width: 120px;;
    height: 78px;
}
.text-cads{
    color: black;
    text-decoration: none;
}

.footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-top: 1px solid #a3a3a3;
    margin-left: 15%;
    margin-right: 15%;
}
.footer>small{
    font-size: 12px;
    color:#6e6e73;
}
.footer>a{
    font-size: 12px;
    color:#424245;
    text-decoration: none;
}
